# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Distribution
dist/

# Bazel
.local_config.bazelrc
MODULE.bazel.lock
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-workspace
bazel-execution-ucx

# CMake
build/
cmake-build-*/
CMakeUserPresets.json

# VSCode
.vscode
.cursor
.agent*

# Python cache
__pycache__
*requirements_lock.txt

tmp/**
